---
name: Build

on:
    push:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                es_version: [8.15.2]
        steps:
            - name: Checkout project sources
              uses: actions/checkout@v4
            - uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: 21
            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Run release build with Gradle Wrapper
              run: ./gradlew build -Pplugin.version=${{ github.ref_name }} -Pelasticsearch.version=${{ matrix.es_version }}

            - name: Release
              uses: softprops/action-gh-release@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: build/distributions/*.zip
